<header>
  <div class="wrap">
    <div class="left">
      <a routerLink="/">
        <img src="/assets/img/logo-proxitri.svg" alt="">
      </a>
    </div>
    <div class="right">
      <div class="parent">
        <a routerLink="/gains"><i class="fa-solid fa-recycle"></i> Les gains du recyclage </a>
        <br>
        <div class="triangle"></div>
      </div>
      <div class="parent">
        <a routerLink="qr-code"><i class="fa-solid fa-barcode"></i> Scanner votre code barre </a>
        <br>
        <div class="triangle"></div>
      </div>
      <div class="parent">
        <a routerLink="/pollution"><i class="fa-solid fa-cloud"></i> Infos pollution </a>
        <br>
        <div class="triangle"></div>
      </div>
      <div class="grpBtn">
        <a routerLink="/map" class="btn-yellow"><i class="fa-solid fa-location-dot"></i> Où et comment trouver des bennes ?</a>
        <a routerLink="/login" class="btn-blue"><i class="fa-regular fa-user"></i> Mon espace</a>
      </div>
    </div>
  </div>
</header>
