header {
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 100%;
  @media screen and (min-width: 300px) {
    z-index: 999;
    position: absolute;
    background: white;
  }
  @media screen and (min-width: 768px) {
    position: inherit;
    background: transparent;
  }
  .wrap {
    max-width: 1800px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    @media screen and (min-width: 300px) {
      flex-flow: column;
      align-items: center;
    }
    @media screen and (min-width: 900px) {
      flex-flow: row nowrap;
      justify-content: space-between;
      gap: 1rem;
    }
  }
}
