<section>
  <div class="map" id="map">
    <app-map></app-map>
  </div>
  <div class="wrap">
    <div>
      <h1>Information sur la pollution</h1>
      <p>Les premières grandes pollutions semblent avoir été induites par la révolution industrielle il y a plus d'un siècle. Cette dernière est généralement causée par les activités humaines. Notre génération et les prochaines sont très impactées par cette pollution. C'est pourquoi nous consacrons cette page pour vous expliquer les impacts de la pollution de l'air notamment.</p>
    </div>
    <div>
      <h2>Indice de qualité de l'air (AQI)</h2>
      <p>L'indice de qualité de l'air est une mesure de la qualité de l'air, permetant de synthétiser différentes données sous forme de valeur unique. Plus cette dernière est élevée, plus le risque de pollution de l'air est élevée et donc dangereux pour la santé.</p>
      <p><strong>Vous pouvez avoir sur la carte l'indice de qualité de l'air de votre position notamment.</strong></p>
    </div>
    <div>
      <a class="button" href="#map">Connaitre ma position</a>
    </div>
    <app-infos></app-infos>
  </div>

</section>
