<section class="container-cards">
  <div class="cards-account">
    <div class="top-cards">
      <div class="card1 cards">
        <img src="assets/img/cards-account/actu.png" alt="" class="icon-cards">
        <p>Plus de 2M tous les mois !</p>
      </div>
      <div class="card2 cards">
        <img src="assets/img/cards-account/recycle.png" alt="" class="icon-cards">
        <p>Plus de 2M tous les mois !</p>
      </div>
      <div class="card3 cards">
        <img src="assets/img/cards-account/scan.png" alt="" class="icon-cards">
        <p>Plus de 2M tous les mois !</p>
      </div>
    </div>

    <div class="bottom-cards">
      <div class="card4 cards">
        <img src="assets/img/cards-account/benne.png" alt="" class="icon-cards">
        <p>Plus de 2M tous les mois !</p>
      </div>
      <div class="card4 cards">
        <img src="assets/img/cards-account/signaler.png" alt="" class="icon-cards">
        <p>Plus de 2M tous les mois !</p>
      </div>
      <div class="card4 cards">
        <img src="assets/img/cards-account/optimisation.png" alt="" class="icon-cards">
        <p>Plus de 2M tous les mois !</p>
      </div>

    </div>
  </div>
</section>
