<section class="container-cards">
  <div class="cards-account">
    <div class="top-cards">
      <div class="card1 cards">
        <img src="assets/img/cards-account/actu.png" alt="" class="icon-cards">
        <p>Actualités et Evenements</p>
      </div>
      <div class="card2 cards">
        <img src="assets/img/cards-account/recycle.png" alt="" class="icon-cards">
        <p>Guide de tri</p>
      </div>
      <div class="card3 cards">
        <img src="assets/img/cards-account/scan.png" alt="" class="icon-cards">
        <p>Scannez votre produit</p>
      </div>
    </div>

    <div class="bottom-cards">
      <div class="card4 cards">
        <img src="assets/img/cards-account/benne.png" alt="" class="icon-cards">
        <p>Ajoutez une benne</p>
      </div>
      <div class="card4 cards">
        <img src="assets/img/cards-account/signaler.png" alt="" class="icon-cards">
        <p>Signalez un problème</p>
      </div>
      <div class="card4 cards">
        <img src="assets/img/cards-account/optimisation.png" alt="" class="icon-cards">
        <p>Optimisation du temps de trajet</p>
      </div>

    </div>
  </div>
</section>
