<table>
  <thead>
  <tr>
    <th>AQI</th>
    <th>Status</th>
    <th>Description</th>
  </tr>
  </thead>
  <tbody>
  <tr class="good">
    <td>0 - 50</td>
    <td>Bien</td>
    <td>La qualité de l'air est considéré comme satisfaisant et l'air de pollution peut poser aucun voir quelques risques minimes.</td>
  </tr>
  <tr class="yellow">
    <td>51 - 100</td>
    <td>Modéré</td>
    <td>La qualité de l'air est acceptable; cependant pour certains polluants il peut y avoir des risques pour les personnes qui sont exceptionnelement sensibles à la pollution de l'air.</td>
  </tr>
  <tr class="orange">
    <td>101 - 150</td>
    <td>Mauvais pour les personnes sensibles</td>
    <td>Les personnes sensibles peuvent subire de mauvaises expériences qui peuvent affecter sérieusement leur santé. Le public général n'est pas succeptible d'être touché.</td>
  </tr>
  <tr class="red">
    <td>151 - 200</td>
    <td>Mauvais</td>
    <td>Les personnes sensibles peuvent subire de mauvaises expériences qui peuvent affecter sérieusement leur santé. Le public général peut être touché.</td>
  </tr>
  <tr class="purple">
    <td>201 - 300</td>
    <td>Très mauvais</td>
    <td>Tout le monde peut ressentir certains effets sur la santé. Les personnes sensibles peuvent subir des effets plus graves pour la santé.</td>
  </tr>
  <tr class="alert">
    <td>301 - 500</td>
    <td>Dangereux</td>
    <td>La santé des personnes est sérieusement affectée. Tous les membres du public peuvent ressentir des effets plus graves sur la santé.</td>
  </tr>
  </tbody>
</table>
