<div class="map-container">
  <div class="sidebar">
    <input class="search" type="text" value="" placeholder="Recherchez une ville">
    <br>
    <br>
    <br>
    <br>
    <h3>Affiner votre recherche :</h3>
    <button class="btnView bg-yellow text-black" id="toutes" (click)="toutes()"><p>Afficher toutes les bennes </p><img
      src="assets/img/corbeille.png" alt=""></button>
    <button class="btnView bg-blue" id="plastic" (click)="filterWaste('http://localhost:4200/assets/img/icons8-plastic-bottle-96.png', 'CS')"><p>Afficher les bennes à plastique </p><img
      src="assets/img/icons8-plastic-bottle-96.png" alt=""></button>
    <button class="btnView bg-green" id="verre" (click)="filterWaste('http://localhost:4200/assets/img/icons8-broken-bottle-96.png', 'VERRE')"><p>Afficher les bennes à verre </p><img
      src="assets/img/icons8-broken-bottle-96.png" alt=""></button>
    <button class="btnView bg-white text-black" id="paper" (click)="filterWaste('http://localhost:4200/assets/img/icons8-paper-waste-96.png', 'PAPIER')"><p>Afficher les bennes à papier </p><img
      src="assets/img/icons8-paper-waste-96.png" alt=""></button>
    <button class="btnView bg-grey text-black" id="menage" (click)="filterWaste('http://localhost:4200/assets/img/waste.png', 'OM')"><p>Afficher les bennes à ordures
      ménagères </p><img src="assets/img/waste.png" alt=""></button>
    <br>
    <br>
    <h3>Planifier votre itinéraire :</h3>
    <button (click)="locate()" class="btnView bg-blue">Localiser moi !</button>
    <input class="search-loca" type="text" name="depart" [(ngModel)]="departLabel" (keyup)="departProp()" value="{{ departLabel }}" placeholder="Depart">
    <div>
      <p *ngFor="let proposition of propositionsDepart"  class="proposition" style="cursor: pointer" (click)="depart2(proposition.properties.label)">{{ proposition.properties.label }}</p>
    </div>

    <h3>Cliquer sur une poubelle ou rentrer une adresse</h3>
    <input class="search-loca" type="text" [(ngModel)]="arriveeLabel" (keyup)="arriveProp()" value="{{ arriveeLabel }}" placeholder="Arrivée" name="arrive">
    <div>
        <p *ngFor="let proposition of propositions"  class="proposition" style="cursor: pointer" (click)="arrive(proposition.properties.label)">{{ proposition.properties.label }}</p>
    </div>

    <button class="btnView bg-yellow text-black" (click)="route()">Démarrer l'itinairaire<img src="assets/img/icons8-location-96.png" alt=""></button>
  </div>
  <div class="map-frame">
    <div id="map"><button (click)="locate()" class="location">Localiser moi !</button></div>
    <div #weather class="weather">
      <div>
        <h4>{{weatherObject.city}}, {{weatherObject.region}} {{weatherObject.country}}</h4>
      </div>
      <div>
        <div>
          <img [src]="weatherObject.image" alt="Icone du temps">
        </div>
        <span>{{weatherObject.temperature}}</span>
        <div class="pollution">
          <span class="indice" (click)="clickIndice()" [ngClass]="{'good': indice <= 50, 'yellow': indice > 50 && indice <= 100, 'orange': indice > 101 && indice <= 150, 'red': indice > 151 && indice <= 200, 'purple': indice > 201 && indice <= 300, 'alert': indice > 301 && indice <= 500}">{{pollutionObject.aqius}}</span>
        </div>
      </div>
      <span id="explain-indice">L'indice de la qualité de l'air est <strong>{{infoAqius}}</strong>. <br> Cet indice correspond à l'indice de la qualité de l'air. Plus celui-ci augmente, plus la qualité de l'air est médiocre. Le polluant le plus présent dans l'air est le <strong>{{pollutionObject.mainus}}.</strong></span>
    </div>
  </div>
</div>
