.map-container {
  height: 83vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .sidebar {
    padding: .5rem;
      text-align: left;
      font-weight: 500;
    width: 14%;
    background-color: white;
    box-shadow: rgba(0, 0, 0.4, 0) 2px 4px 0px, rgba(0, 0, 0.3, 0) 7px 13px -3px 0px, rgba(0, 0, 0.2, 0) 0px -3px 0px inset;
    height: 100%;
    h3{
      font-weight: 400;
      margin-bottom: .7rem;
    }
    .search {
      padding: 1rem;
      border-radius: 2rem;
      border: none;
      background-color: #e1d4b0;
      width: 100%;
    }
    .btnView {
      width: 100%;
      font-size: 1rem;
      padding: .8rem;
      border-radius: .3rem;
      border: none;
      color: white;
      margin-bottom: .8rem;
    }
  }
  .map-frame {
    width: 86%;
    height: 100%;
  }
}
#map {
  height: 100%;
}


