<div class="map-container">
  <div class="sidebar">
    <input class="search" type="text" value="" placeholder="Recherchez une ville">
    <br>
    <br>
    <br>
    <br>
    <h3>Affinez votre recherche :</h3>
    <button class="btnView bg-blue">Afficher les bennes à plastique</button>
    <button class="btnView bg-green">Afficher les bennes à verre</button>
    <button class="btnView bg-yellow text-black">Afficher les bennes à carton</button>
    <button class="btnView bg-grey">Afficher les bennes à papier</button>


    <br>
    <br>
    <h3>Aller à la benne la plus proche :</h3>
    <button class="btnView bg-blue">Démarrer l'itinairaire</button>
  </div>
  <div class="map-frame">
    <div id="map"></div>
  </div>
</div>
