<div class="map-container">
  <div class="sidebar">
    <input class="search" type="text" value="" placeholder="Recherchez une ville">
    <br>
    <br>
    <br>
    <br>
    <h3>Affinez votre recherche :</h3>
    <button class="btnView bg-yellow text-black" id="toutes" (click)="toutes()"><p>Afficher toutes les bennes </p><img src="assets/img/corbeille.png" alt=""></button>
    <button class="btnView bg-blue" id="plastic" (click)="plastic()"><p>Afficher les bennes à plastique </p><img src="assets/img/icons8-plastic-bottle-96.png" alt=""></button>
    <button class="btnView bg-green" id="verre" (click)="verre()"><p>Afficher les bennes à verre </p><img src="assets/img/icons8-broken-bottle-96.png" alt=""></button>
    <button class="btnView bg-white text-black" id="paper" (click)="paper()"><p>Afficher les bennes à papier </p><img src="assets/img/icons8-paper-waste-96.png" alt=""></button>
    <button class="btnView bg-grey text-black" id="menage" (click)="menage()"><p>Afficher les bennes à ordures ménagères </p><img src="assets/img/waste.png" alt=""></button>
    <br>
    <br>
    <h3>Aller à la benne la plus proche :</h3>
    <button class="btnView bg-yellow text-black">Démarrer l'itinairaire <img src="assets/img/icons8-location-96.png" alt=""></button>
  </div>
  <div class="map-frame">

    <div id="map"><button (click)="locate()" class="location">Localiser moi !</button></div>
  </div>
</div>
