
.bglogin {
  height: 100vh;
}

.whitebg {
  background-color: var(--gris);
  width: 50%;
  height: 100%;
  // padding: 50px 0;
  // min-height: 100vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.title-login {
  text-transform: uppercase;
}

#loginForm.loginForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 5rem;

}

.inputLogin {
  width: 50%;
  padding: 15px;
  margin-bottom: 25px;
  border-radius: 25px;
  border: 2px solid var(--noir);
}

.connect {
  width: 50%;
  padding: 15px;
  margin-bottom: 25px;
  border-radius: 25px;
  border: none;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
}

.login {
  background: var(--vert);
}

.forgotmdp {
  background: var(--blue);
}

.signup {
  background: var(--jaune2);
}

.hr-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;

  p {
    margin: 0 10px;
    text-transform: uppercase;
  }
}

.hr {
  width: 160px;
  border-top: 1px solid var(--noir);
}
