section {
  display: flex;
  @media screen and (min-width: 300px) {
    flex-flow: column;
    align-items: center;
    gap: 2rem;
    padding-top: 2rem;
  }
  @media screen and (min-width: 900px) {
    flex-flow: row nowrap;
    gap: 1rem;
    padding-top: 0;
  }
  @media screen and (min-width: 1100px) {
    gap: 2.5rem;
  }
  a{
      position: relative;
      cursor: pointer;
      text-decoration: none;
      color: black;
      text-transform: uppercase;
      font-weight: 400;
      text-align: center;

      @media screen and (min-width: 900px) {
        &::after {
          content: "";
          position: absolute;
          bottom: -70%;
          left: 50%;
          right: 50%;
          transform: translate(-50%);
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 10px 10px 0 10px;
          border-color: var(--jaune) transparent transparent transparent;

          &:hover {
            transition: .3s;
            top: 28px;
          }
        }
      }
    }
  &>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    @media screen and (min-width: 1100px) {
      gap: 2.5rem;
    }
  }
}
.mobile {
  display: none;
}
.menuMobileBtn {
  position: absolute;
  top: 2rem;
  right: 2rem;

  i {
    font-size: 3rem;
    cursor: pointer;
  }
}
