<owl-carousel-o [options]="customOptions" class="container-astuces">
  <!--  <div class="container-astuces">-->
  <ng-template carouselSlide>
    <div class="container-top-astuces">
      <div class="title-astuces">Astuces</div>
      <div class="bottom-astuces">
        <img src="assets/img/pp.png" alt="" class="img-astuces">
        <p class="text-astuces"><span class="bold">L’eau est une ressource précieuse</span> à laquelle tout le monde n’a
          pas la chance d’avoir accès. Pour ne pas la gaspiller, adoptez quelques bons réflexes comme préférer une
          douche à un bain, ne pas s’éterniser sous la douche et ne pas laisser le robinet ouvert en se brossant les
          dents.</p>
      </div>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="container-top-astuces">
      <div class="title-astuces">Astuces</div>
      <div class="bottom-astuces">
        <img src="assets/img/pp.png" alt="" class="img-astuces">
        <p class="text-astuces"><span class="bold">Des vêtements </span>démodés ou que vous ne voulez plus porter ? Des
          chaussures usées ? Ne les jetez pas à la poubelle. De nombreuses structures proposent de récupérer les
          textiles pour les valoriser de plusieurs manières.</p>
      </div>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="container-top-astuces">
      <div class="title-astuces">Astuces</div>
      <div class="bottom-astuces">
        <img src="assets/img/pp.png" alt="" class="img-astuces">
        <p class="text-astuces"><span class="bold">En cas de fortes chaleurs</span>, essayez plutôt les méthodes
          naturelles et de bon sens : gardez les volets fermés toute la journée et ouvrez grand les fenêtres la nuit.

          Des serviettes mouillées aux fenêtres ou devant un ventilateur sont également efficaces.</p>
      </div>
    </div>
  </ng-template>
  <!--  </div>-->

</owl-carousel-o>
