<owl-carousel-o [options]="customOptions" class="container-astuces">
<!--  <div class="container-astuces">-->
    <ng-template carouselSlide>
      <div class="container-top-astuces">
        <div class="title-astuces">Astuces</div>
        <div class="bottom-astuces">
          <img src="assets/img/pp.png" alt="" class="img-astuces">
          <p class="text-astuces">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum cras ut odio
            viverra
            sed
            cursus dolor in integer. Consequat convallis lorem sit turpis.</p>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="container-top-astuces">
        <div class="title-astuces">Astuces</div>
        <div class="bottom-astuces">
          <img src="assets/img/pp.png" alt="" class="img-astuces">
          <p class="text-astuces">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum cras ut odio
            viverra
            sed
            cursus dolor in integer. Consequat convallis lorem sit turpis.</p>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="container-top-astuces">
        <div class="title-astuces">Astuces</div>
        <div class="bottom-astuces">
          <img src="assets/img/pp.png" alt="" class="img-astuces">
          <p class="text-astuces">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum cras ut odio
            viverra
            sed
            cursus dolor in integer. Consequat convallis lorem sit turpis.</p>
        </div>
      </div>
    </ng-template>
<!--  </div>-->

</owl-carousel-o>
