.container-astuces {
  & .container-top-astuces {
    display: flex;
    flex-direction: column;
    // width: 50%;
  }

  & .title-astuces {
    font-size: 40px;
  }

  & .bottom-astuces {
    display: flex;
    align-items: center;
    justify-content: space-around;
    @media screen and (max-width: 420px) {
      padding-left: 10px;
      margin-top: 10px;
    }

    & img.img-astuces {
      width: 20%;
    }

    & p.text-astuces {
      margin-left: 15px;
    }
  }

  & .container-pagination {
    display: flex;
    margin-left: -475px;
    @media screen and (max-width: 1550px) {
      margin-left: -375px;
    }
    @media screen and (max-width: 420px) {
      margin: 15px 0 0;
    }

    & .pagination {
      display: flex;

      & .astuces-slide {
        width: 15px;
        height: 15px;
        cursor: pointer;
        margin-left: 15px;
        border-radius: 50px;
        background-color: #D9D9D9;
      }

      & .astuces-slide.active {
        background-color: #000000;
      }
    }
  }
}
