<div class="container-astuces">
  <div class="title-astuces">Astuces</div>
  <div class="bottom-astuces">
    <img src="assets/img/pp.png" alt="" class="img-astuces">
    <p class="text-astuces">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum cras ut odio viverra sed
      cursus dolor in integer. Consequat convallis lorem sit turpis.</p>
  </div>
  <div class="pagination">
    <div class="pag1 astuces-slide active" id="pagination"></div>
    <div class="pag2 astuces-slide"></div>
    <div class="pag3 astuces-slide"></div>
  </div>
</div>
