<section class="gallery bg-grey">
  <div class="container-slider">
    <div class="img-container">
      <ul class="slider-ul">
        <li class="img-slider-left">
          <img src="assets/img/img-slider-1.png" alt="Image" class="img-container" id="preview">
          <div class="article-title">
            <h1>Titre de la selection</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam auctor ac sit sagittis aliquam volutpat vel
              at
              eget.</p>
            <button class="btn-more">En savoir plus</button>
            <!--        {{article.name}}-->

          </div>
        </li>
      </ul>
    </div>
    <div class="img-prev">
      <ul class="slider-ul">
        <li class="slider-li">
          <div class="img-slide active">
            <img src="assets/img/img-slider-1-thumbnail.png" alt="Image 1" class="img-thumb" appDemo>
            <div class="text-slider text-test">
              <p class="title-slider">Titre de l'article</p>
            </div>
          </div>
        </li>
        <li class="slider-li">
          <div class="img-slide">
            <img src="assets/img/img-slider-2-thumbnail.png" alt="Image 2" class="img-thumb" appDemo>
            <div class="text-slider text-test">
              <p class="title-slider">Titre de l'article</p>
            </div>
          </div>
        </li>
        <li class="slider-li">
          <div class="img-slide">
            <img src="assets/img/img-slider-3-thumbnail.png" alt="Image 3" class="img-thumb" appDemo>
            <div class="text-slider text-test">
              <p class="title-slider">Titre de l'article</p>
            </div>
          </div>
        </li>
        <li class="slider-li">
          <div class="img-slide">
            <img src="assets/img/img-slider-6.jpg" alt="Image 4" class="img-thumb" appDemo>
            <div class="text-slider text-test">
              <p class="title-slider">Titre de l'article</p>
            </div>
          </div>
        </li>
        <li class="slider-li">
          <div class="img-slide">
            <img src="assets/img/img-slider-7.jpg" alt="Image 5" class="img-thumb" appDemo>
            <div class="text-slider text-test">
              <p class="title-slider">Titre de l'article</p>
            </div>
          </div>
        </li>
      </ul>

    </div>

  </div>
</section>
