<section>
  <div class="container">
    <div class="carousel">
      <input type="radio" name="slides" checked="checked" id="slide-1">
      <input type="radio" name="slides" id="slide-2">
      <input type="radio" name="slides" id="slide-3">
      <input type="radio" name="slides" id="slide-4">
      <input type="radio" name="slides" id="slide-5">
      <ul class="carousel__slides">
        <li class="carousel__slide">
          <figure>
            <div>
              <img src="assets/img/img-slider-1.jpg" alt="">
              <div>
                <h3>Ramassage des ordures</h3>
                <p>Notre future fonctionnalité sera de vous fournir les passages des camions bennes dans toutes les communes de la Rochelle éligibles..</p>
                <a href="#" class="btn-yellow">En savoir plus</a>
              </div>
            </div>
          </figure>
        </li>
        <li class="carousel__slide">
          <figure>
            <div>
              <img src="assets/img/img-slider-2.jpg" alt="">
              <div>
                <h3>Pollution</h3>
                <p>Pour contrer la pollution causée par l'Homme, nous avons mis en place à notre échelle sur notre application des indications sur la qualité de l'air à proximité de votre position.</p>
                <a routerLink="/pollution" class="btn-yellow">En savoir plus</a>
              </div>
            </div>
          </figure>
        </li>
        <li class="carousel__slide">
          <figure>
            <div>
              <img src="assets/img/img-slider-3.jpg" alt="">
              <div>
                <h3>Bennes à ordures</h3>
                <p>Vous pouvez découvrir à proximité de chez vous et des villes voisines de la Rochelle, les différentes bennes à ordures que les communes ont mis à disposition de tout le monde pour recycler !</p>
                <a routerLink="/map" class="btn-yellow">En savoir plus</a>
              </div>
            </div>
          </figure>
        </li>
        <li class="carousel__slide">
          <figure>
            <div>
              <img src="assets/img/img-slider-4.jpg" alt="">
              <div>
                <h3>Itinéraire pratique</h3>
                <p>Lorsque vous utilisez notre carte interactive pour voir les différentes bennes près de votre position, vous pouvez demander à avoir l'itinéraire le plus simple et le plus rapide pour y accéder. Pratique lorsqu'on doit trier nos déchets à pied !</p>
                <a routerLink="/map" class="btn-yellow">En savoir plus</a>
              </div>
            </div>
          </figure>
        </li>
        <li class="carousel__slide">
          <figure>
            <div>
              <img src="assets/img/img-slider-5.jpg" alt="">
              <div>
                <h3>Tri des déchets</h3>
                <p>Nous savons peu les consignes de recyclage d'énormément de produits. Savoir si celui-ci peut être recyclé ou non. C'est pour cela qu'avec ProxiTri, vous pouvez scanner le code barre de votre produit pour avoir les consignes de tri et bien plus !</p>
                <a routerLink="/qr-code" class="btn-yellow">En savoir plus</a>
              </div>
            </div>
          </figure>
        </li>
      </ul>
      <ul class="carousel__thumbnails">
        <li>
          <label for="slide-1">
            <img src="assets/img/img-slider-1.jpg" alt="">
            <h4>Ramassage</h4>
          </label>
        </li>
        <li>
          <label for="slide-2">
            <img src="assets/img/img-slider-2.jpg" alt="">
            <h4>Pollution</h4>
          </label>
        </li>
        <li>
          <label for="slide-3">
            <img src="assets/img/img-slider-3.jpg" alt="">
            <h4>Bennes</h4>
          </label>
        </li>
        <li>
          <label for="slide-4">
            <img src="assets/img/img-slider-4.jpg" alt="">
            <h4>Itinéraire</h4>
          </label>
        </li>
        <li>
          <label for="slide-5">
            <img src="assets/img/img-slider-5.jpg" alt="">
            <h4>Tri</h4>
          </label>
        </li>
        <li>
        </li>
      </ul>
    </div>
  </div>
</section>
