<section class="gallery bg-grey">
  <div class="container-slider">
    <div class="img-container">
      <ul class="slider-ul">
        <li class="img-slider-left">
          <img src="assets/img/img-slider-1.png" alt="Image" class="img-container" id="preview">
          <div class="article-title">
            <h1>Recycler avec Proxitri</h1>
            <p>Tout le monde peut recycler à sa manière et pour ce faire, nous avons développer ProxiTri. Cet outil vous permettra de recycler efficacement vos déchets afin de réduire la pollution et le gaspillage.</p>
            <button class="btn-more" routerLink="/map">Commencer à recycler !</button>
          </div>
        </li>
      </ul>
    </div>
    <div class="img-prev">
      <ul class="slider-ul">
        <li class="slider-li">
          <div class="img-slide active">
            <img src="assets/img/img-slider-1.png" alt="Image 1" class="img-thumb" appDemo>
            <div class="text-slider text-test">
              <p class="title-slider">Recycler avec ProxiTri</p>
            </div>
          </div>
        </li>
        <li class="slider-li">
          <div class="img-slide">
            <img src="assets/img/img-slider-2.png" alt="Image 2" class="img-thumb" appDemo>
            <div class="text-slider text-test">
              <p class="title-slider">La pollution</p>
            </div>
          </div>
        </li>
        <li class="slider-li">
          <div class="img-slide">
            <img src="assets/img/img-slider-3.png" alt="Image 3" class="img-thumb" appDemo>
            <div class="text-slider text-test">
              <p class="title-slider">Le recyclage</p>
            </div>
          </div>
        </li>
        <li class="slider-li">
          <div class="img-slide">
            <img src="assets/img/img-slider-4.png" alt="Image 4" class="img-thumb" appDemo>
            <div class="text-slider text-test">
              <p class="title-slider">Le ramassage</p>
            </div>
          </div>
        </li>
        <li class="slider-li">
          <div class="img-slide">
            <img src="assets/img/img-slider-5.png" alt="Image 5" class="img-thumb" appDemo>
            <div class="text-slider text-test">
              <p class="title-slider">Aider</p>
            </div>
          </div>
        </li>
      </ul>

    </div>

  </div>
</section>
