.wrap {
  padding: 2rem 0;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8rem;
  img{
    width: 100%;
  }
  .left {
    width: 23%;
  }
  .right {
    width: 65%;
    h2 {
      font-size: 2.5rem;
      font-weight: 400;
      color: #000;
      margin-bottom: 2.5rem;
    }
    p {
      font-size: 1.1rem;
      color: #000;
      margin-bottom: 1rem;
    }
    ul li {
      padding: 1rem;
    }
  }
}
h2 {
  font-size: 2.5rem;
  font-weight: 400;
  color: #000;
  margin-bottom: 2.5rem;
  text-align: center;
}
.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .miniCard {
    padding: .8rem;
    border-radius: .8rem;
    text-align: center;
    background-color: var(--vert);
    color: white;
    h3 {
      font-size: 1rem;
      font-weight: 400;
      max-width: 120px;
    }
    img{
      width: 30%;
    }
  }
}
