<section class="bg-grey container-gains">
  <div class="container-title">
    <div class="gains">
      <div class="icon-gains">
        <img src="assets/img/recyclage.png" alt="">
      </div>
      <div class="text-gains">
        <h3 class="gains-title">Les gains du recyclage</h3>
        <!-- <p class="gains-para">Lörem ipsum låpegisk papregt. Kvasinyn trara till paragt i dialig. Spegepåsk flyttstajla,
          fylör lan. Nymyning. Tetratidat burkini sögon. </p> -->
        <ul class="list-gains">
          <li class="li-gains">Bon pour la planète</li>
          <li class="li-gains">Bon pour la planète</li>
          <li class="li-gains">Bon pour la planète</li>
          <li class="li-gains">Bon pour la planète</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="cards-gains">
    <div class="card1 cards">
      <img src="assets/img/progress.png" alt="" class="icon-cards">
      <p>Plus de 2M tous les mois !</p>
    </div>
    <div class="card2 cards">
      <img src="assets/img/progress.png" alt="" class="icon-cards">
      <p>Plus de 2M tous les mois !</p>
    </div>
    <div class="card3 cards">
      <img src="assets/img/progress.png" alt="" class="icon-cards">
      <p>Plus de 2M tous les mois !</p>
    </div>
    <div class="card4 cards">
      <img src="assets/img/progress.png" alt="" class="icon-cards">
      <p>Plus de 2M tous les mois !</p>
    </div>
  </div>
</section>
