<section class="wrap">
  <div class="top">
    <div class="left">
      <img src="assets/img/gains/recycling.svg" alt="">
    </div>
    <div class="right">
      <h2>Les gains du recyclage</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci aliquid commodi consequatur culpa deserunt
        dignissimos distinctio dolorum eligendi eos facilis fugiat libero minus nam natus nesciunt obcaecati odio odit
        officiis quaerat quam ratione, reiciendis rerum suscipit vel voluptas voluptate.</p>
    </div>
  </div>
  <div class="bottom">
    <div class="miniCard">
      <img src="assets/img/gains/minicard.svg" alt="">
      <h3>Plus de 2M d’infos bidons !</h3>
    </div>
  <div class="miniCard">
    <img src="assets/img/gains/minicard.svg" alt="">
    <h3>Plus de 2M d’infos bidons !</h3>
  </div>
  <div class="miniCard">
    <img src="assets/img/gains/minicard.svg" alt="">
    <h3>Plus de 2M d’infos bidons !</h3>
  </div>
  <div class="miniCard">
    <img src="assets/img/gains/minicard.svg" alt="">
    <h3>Plus de 2M d’infos bidons !</h3>
  </div>
  </div>
</section>
