<section class="wrap">
  <div class="top">
    <div class="left">
      <img src="assets/img/gains/recycling.svg" alt="">
    </div>
    <div class="right">
      <h2>Les gains du recyclage</h2>
      <p>La fiche d’information Advancing Sustainable Materials Management : 2014 (fiche d’information de l’EPA) de l’Agence de protection de l’environnement indique que 258 millions de tonnes de déchets solides municipaux (MSW) ont été générés cette seule année. Sur cette quantité, les faits suivants se sont produits :</p>
      <ul>
        <li><strong>34,6 % (89 millions de tonnes)</strong> des déchets ont été valorisés, dont 23 millions de tonnes ont été compostées et 66 millions de tonnes ont été recyclées</li>
        <li><strong>33 millions de tonnes</strong> ont été incinérées pour la production d’énergie</li>
        <li><strong>136 millions de tonnes (52%)</strong> ont fini dans les décharges</li>
      </ul>
      <br>
      <p><em><a href="https://assolea.org/quel-est-limpact-du-recyclage-sur-lenvironnement/" target="_blank">(Source : Association LEA)</a></em></p>
    </div>
  </div>
  <h2>Restes à recycler</h2>
  <div class="bottom">
  <div class="miniCard">
    <i class="fa-solid fa-recycle"></i>
    <h3>21% d'aliments</h3>
  </div>
  <div class="miniCard">
    <i class="fa-solid fa-recycle"></i>
    <h3>14% de papier et de carton</h3>
  </div>
  <div class="miniCard">
    <i class="fa-solid fa-recycle"></i>
    <h3>10% de caoutchouc, cuir et textiles</h3>
  </div>
  <div class="miniCard">
    <i class="fa-solid fa-recycle"></i>
    <h3>18% de plastique</h3>
  </div>
  </div>
</section>
