<div class="top-account">
  <div class="left-top">
    <h1>Bonjour User</h1>
    <div class="grpBtn">
      <a routerLink="/map" class="btn-yellow"><i class="fa-solid fa-location-dot"></i> Trouver des bennes près de chez
        vous !</a>
    </div>
  </div>
  <div class="right-top">
    <img class="actu-img-top" src="assets/img/img-slider-3.png" alt="">
    <div class="div-text-actu">
      <h3 class="title-actu">Actu à la une</h3>
      <p class="text-actu">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Velit porta a et fermentum. Nibh
        posuere consequat
        suspendisse ipsum massa mattis viverra egestas tortor. Egestas et gravida in ipsum amet sit id.</p>
    </div>
  </div>
</div>
