
img{
  border-radius: 8px;
}
.camera{
  position: relative;
  z-index: 30;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left-content, .right-content{
  width:50%;
  display: flex;
  align-items: center;
}

.left-content{
  background-color: white;

}

.right-content{
  background-color: white;
}

.img-div1, .img-div3{
  height:40vh;
  border-radius: 13px;
  position: relative;
  left: 42vh;
  max-width: 32vw;
  margin-left: 0;
}

.img-div2{
  height:40vh;
  border-radius: 13px;
  position: relative;
  right: 42vh;
  max-width: 32vw;
  margin-right: 0;
}

.img-icon1{
  height: 40vh;
  border-radius: 13px;
  position:absolute;
  left:0;
  right:0;
  bottom:87px;
  margin-left:auto;
  margin-right:auto;
  max-width: 9vw;
  max-height: 9vh;
  align-items: center;
  z-index: -5;
}

.img-icon2{
  height: 40vh;
  border-radius: 13px;
  position:absolute;
  left: 0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  max-width: 9vw;
  max-height: 9vh;
  align-items: center;
  bottom:75px;
  z-index:-2;
}

.img-icon3{
  height: 40vh;
  border-radius: 13px;
  position:absolute;
  left:0;
  right:0;
  bottom:72px;
  margin-left:auto;
  margin-right:auto;
  max-width: 9vw;
  max-height: 9vh;
  align-items: center;
  z-index: -5;
}

.div-info{
  display: flex;
  flex-wrap:wrap;
  width: 100%;
  margin-top: 10vh;
  margin-bottom: 10vh;

}

.div-cam{
  display: flex;
  width: 100%;
  height: 60vh;
  margin-top: 4vh;
}

.div1{
  background-color:white;
  width:100%;
  display:flex;
  flex-wrap: wrap;
  margin-top: 3vh;
}

.div2{
  background-color:white;
  width:100%;
  display:flex;
  flex-wrap: wrap;
  margin-top: 3vh;
}

.div3{
  background-color:white;
  width:100%;
  display:flex;
  flex-wrap: wrap;
  margin-top: 3vh;
}

.fullPage{
  background-color:white;
  width:100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.btnView3{
  cursor: pointer;
  width: 80%;
  font-size: 1rem;
  padding: .8rem;
  border-radius: .3rem;
  border: none;
  color: white;
  margin-bottom: .8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btnView {
  font-size: 1.2rem;
  padding: .8rem;
  border-radius: .3rem;
  border: none;
  color: white;
  margin-bottom: .8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  right: 18vh;
  max-width: 70%;
}

.btnView-2 {
  font-size: 1.2rem;
  padding: .8rem;
  border-radius: .3rem;
  border: none;
  color: white;
  margin-bottom: .8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  left:18vh;
  z-index:3;
  max-width: 70%;
}

.progress-spinner {
  position: relative;
  width: 100px;
  height: 100px;
  animation: progress-spinner-linear-rotate 2000ms linear infinite;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
}

.progress-spinner svg {
  position: absolute;
  width: 100px;
  height: 100px;
  transform: rotate(-90deg);
  top: 0;
  left: 0;
  transform-origin: center;
  overflow: visible
}
.progress-spinner circle {
  animation-name: progress-spinner-stroke-rotate;
  stroke-dasharray: 282.743px;
  stroke-width: 10%;
  fill: transparent;
  stroke: #4285F4;
  transform-origin: center;
  transition: stroke-dashoffset 225ms linear;
}
.progress-spinner {
  animation: progress-spinner-linear-rotate 2000ms linear infinite;
}

.progress-spinner circle{
  transition-property: stroke;
  animation-duration: 4000ms;
  animation-timing-function: cubic-bezier(0.35, 0, 0.25, 1);
  animation-iteration-count: infinite
}

@keyframes progress-spinner-linear-rotate {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

@keyframes progress-spinner-stroke-rotate {
  0%{
    stroke-dashoffset: 268.606171575px;
    transform:rotate(0);
  }
  12.5%{
    stroke-dashoffset: 56.5486677px;
    transform:rotate(0);
  }
  12.5001%{
    stroke-dashoffset: 56.5486677px;
    transform:rotateX(180deg) rotate(72.5deg);
  }
  25%{
    stroke-dashoffset: 268.606171575px;
    transform:rotateX(180deg) rotate(72.5deg);
  }
  25.0001%{
    stroke-dashoffset: 268.606171575px;
    transform:rotate(270deg);
  }
  37.5%{
    stroke-dashoffset: 56.5486677px;
    transform:rotate(270deg);
  }
  37.5001%{
    stroke-dashoffset: 56.5486677px;
    transform:rotateX(180deg) rotate(161.5deg);
  }
  50%{
    stroke-dashoffset: 268.606171575px;
    transform:rotateX(180deg) rotate(161.5deg);
  }
  50.0001%{
    stroke-dashoffset:268.606171575px;
    transform:rotate(180deg);
  }
  62.5%{
    stroke-dashoffset: 56.5486677px;
    transform: rotate(180deg);
  }
  62.5001%{
    stroke-dashoffset: 56.5486677px;
    transform: rotateX(180deg) rotate(251.5deg);
  }
  75%{
    stroke-dashoffset: 268.606171575px;
    transform: rotateX(180deg) rotate(251.5deg);
  }
  75.0001%{
    stroke-dashoffset: 268.606171575px;
    transform: rotate(90deg);
  }
  87.5%{
    stroke-dashoffset: 56.5486677px;
    transform: rotate(90deg);
  }
  87.5001%{
    stroke-dashoffset: 56.5486677px;
    transform: rotateX(180deg) rotate(341.5deg);
  }
  100%{
    stroke-dashoffset:268.606171575px;
    transform: rotateX(180deg) rotate(341.5deg);
  }
}

#startButton {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  background: #026AAF;
  border: 2px solid #026AAF;
  border-radius: 20px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
  position:relative;
  bottom: 2vh;
}
.overlay {
  position: fixed;
  top: 20%;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: visible;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

#popup1, #popup2 {

  background: #ffffff;
  border-radius: 0.5em;
  box-shadow: 0 10px 20px rgb(0 0 0 / 20%);
  max-width: 90%;
  position: absolute;
  top: 27%;
  width: 50%;
  text-align: left;
  max-height: 90vh;
  display: flex;
  position: fixed;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5vh;
  padding-bottom: 5vh;

}

.popup1 h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup1 .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup1 .close:hover {
  color: #06D85F;
}
.popup1 .content {
  max-height: 30%;
  overflow: auto;
}
h1{
  color: var(--blue);
  font-size: 18px;
}

.title-popup{
  width: 100%;
  display: flex;
}
.name-section{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1vh;
}
.category-section{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1vh;
}
.img-section{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 4vh;
  border-radius: 6px;
}

.right-section{
  width: 49.75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.right-section img{
  max-height: 96px;
  max-width: 96px;
}

.left-section{
width: 49.75%;
}
.line{
  width:0.5%;
  background-color: #0cad7d;
  border-radius:3px;
  height:200px;
}
.category-container{
  width: 50%;
  background-color: #0CAD7D;
  color: white;
  text-align: center;
  border-radius: 10px;
}
.name-container{
  width: 50%;
  background-color: #0CAD7D;
  color: white;
  text-align: center;
  border-radius: 10px;

}

