body {
  overflow-x: hidden;
}

.left-content {
  width: 31%;
  text-align: left;
}

.right-content {
  width: 69%;
  text-align: right;
}

.right-content:nth-child(odd) {
  text-align: left !important;
}

.img-content {
  width: 100%;
  border-radius: 13px;
  position: relative;
}

.img-icon {
  height: 40vh;
  border-radius: 13px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 87px;
  margin-left: auto;
  margin-right: auto;
  max-width: 9vw;
  max-height: 9vh;
  align-items: center;
  z-index: -5;
}

.div-info {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  margin-top: 5rem;

}

section {
  width: 100%;
  //background: url("../../assets/img/css-wave-bis.jpg") no-repeat/cover;
}
.div-cam {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 100%;
  color: white;
  background: url("../../assets/img/mesh-424.png");
  background-repeat: no-repeat;
  background-size: cover;
  .camera {
    width: 60%;
   h1{
     text-align: center;
     color: white;
     text-transform: uppercase;
     font-size: 2rem;
     margin-bottom: 1rem;
   }
  }
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 3rem;
}

.fullPage {
  background-color: white;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btnView3 {
  cursor: pointer;
  width: 80%;
  font-size: 1rem;
  padding: .8rem;
  border-radius: .3rem;
  border: none;
  color: white;
  margin-bottom: .8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btnView {
  font-size: 1.2rem;
  padding: .8rem;
  border-radius: .3rem;
  border: none;
  color: white;
  margin-bottom: .8rem;
  position: relative;
  max-width: 70%;
}

.btnView-2 {
  font-size: 1.2rem;
  padding: .8rem;
  border-radius: .3rem;
  border: none;
  color: white;
  margin-bottom: .8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  left: 18vh;
  z-index: 3;
  max-width: 70%;
}

.progress-spinner {
  position: relative;
  width: 100px;
  height: 100px;
  animation: progress-spinner-linear-rotate 2000ms linear infinite;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.progress-spinner svg {
  position: absolute;
  width: 100px;
  height: 100px;
  transform: rotate(-90deg);
  top: 0;
  left: 0;
  transform-origin: center;
  overflow: visible
}

.progress-spinner circle {
  animation-name: progress-spinner-stroke-rotate;
  stroke-dasharray: 282.743px;
  stroke-width: 10%;
  fill: transparent;
  stroke: #4285F4;
  transform-origin: center;
  transition: stroke-dashoffset 225ms linear;
}

.progress-spinner {
  animation: progress-spinner-linear-rotate 2000ms linear infinite;
}

.progress-spinner circle {
  transition-property: stroke;
  animation-duration: 4000ms;
  animation-timing-function: cubic-bezier(0.35, 0, 0.25, 1);
  animation-iteration-count: infinite
}

@keyframes progress-spinner-linear-rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes progress-spinner-stroke-rotate {
  0% {
    stroke-dashoffset: 268.606171575px;
    transform: rotate(0);
  }

  12.5% {
    stroke-dashoffset: 56.5486677px;
    transform: rotate(0);
  }

  12.5001% {
    stroke-dashoffset: 56.5486677px;
    transform: rotateX(180deg) rotate(72.5deg);
  }

  25% {
    stroke-dashoffset: 268.606171575px;
    transform: rotateX(180deg) rotate(72.5deg);
  }

  25.0001% {
    stroke-dashoffset: 268.606171575px;
    transform: rotate(270deg);
  }

  37.5% {
    stroke-dashoffset: 56.5486677px;
    transform: rotate(270deg);
  }

  37.5001% {
    stroke-dashoffset: 56.5486677px;
    transform: rotateX(180deg) rotate(161.5deg);
  }

  50% {
    stroke-dashoffset: 268.606171575px;
    transform: rotateX(180deg) rotate(161.5deg);
  }

  50.0001% {
    stroke-dashoffset: 268.606171575px;
    transform: rotate(180deg);
  }

  62.5% {
    stroke-dashoffset: 56.5486677px;
    transform: rotate(180deg);
  }

  62.5001% {
    stroke-dashoffset: 56.5486677px;
    transform: rotateX(180deg) rotate(251.5deg);
  }

  75% {
    stroke-dashoffset: 268.606171575px;
    transform: rotateX(180deg) rotate(251.5deg);
  }

  75.0001% {
    stroke-dashoffset: 268.606171575px;
    transform: rotate(90deg);
  }

  87.5% {
    stroke-dashoffset: 56.5486677px;
    transform: rotate(90deg);
  }

  87.5001% {
    stroke-dashoffset: 56.5486677px;
    transform: rotateX(180deg) rotate(341.5deg);
  }

  100% {
    stroke-dashoffset: 268.606171575px;
    transform: rotateX(180deg) rotate(341.5deg);
  }
}

#startButton {
  font-size: 1em;
  padding: 10px;
  color: #fff;
  background: #026AAF;
  border: 2px solid #026AAF;
  border-radius: 20px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
  position: relative;
  bottom: 2vh;
}

.overlay {
  margin: 0 auto;
  height: 100%;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

#popup1,
#popup2 {
  background: #ffffff;
  border-radius: 0.5em;
  box-shadow: 0 10px 20px rgb(0 0 0 / 20%);
  width: 80%;
  text-align: left;
  display: flex;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 5rem 0;

}

.popup1 h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

.popup1 .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup1 .close:hover {
  color: #06D85F;
}

.popup1 .content {
  max-height: 30%;
  overflow: auto;
}

h1 {
  color: var(--blue);
  font-size: 18px;
}

.title-popup {
  width: 100%;
  display: flex;
  margin-bottom: 1rem;
}

.category-section {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.img-section {
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 6px;
}

.right-section {
  width: 49.75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.right-section img {
  max-height: 96px;
  max-width: 96px;
}

.left-section {
  width: 49.75%;
}

.line {
  width: 0.5%;
  background-color: #0cad7d;
  border-radius: 3px;
}

.category-container {
  width: 50%;
  background-color: white;
  color: #0CAD7D;
  text-align: center;

}

.category-content {
  padding: 5px;
}

.name-container {
  width: 50%;
  background-color: white;
  color: #0CAD7D;
  border-radius: 10px;
  box-shadow: 0px 1px teal;
  text-align: center;
}

.form {
  padding: 1rem;
  border-radius: 2rem;
  border: none;
  background-color: #F2F2F2;
  width: 50%;
  font-size: 1rem;
  margin-top: 15px;
}

.formular {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 30px;
}

.name-title {
  margin-bottom: 1rem;
}

//.name-title,
//.category-title {
//  width: 100%;
//  text-align: center;
//}

#nameTitle,
#categoryTitle {
  color: #0CAD7D;
  width: 100%;
}

#form-manual {
  width: 100%;
  font-family: Tahoma, Arial, sans-serif;
}

.form-select {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

#manual-search {
  margin-top: 10px;
  cursor: pointer;
}

.inputContainer {
  width: 100%;
}


// RESPONSIVE

@media screen and (max-width: 975px) {
  .box {
    display: flex;
    flex-direction: column;

    .left-content {
      display: none;
    }

    .right-content,
    .right-content:nth-child(odd) {
      text-align: center !important;
      width: 100%;
      margin-bottom: 2rem;
    }

    .btnView {
      max-width: 98%;
    }
  }

  .div-cam {
   .camera {
     width: 100%;
   }
  }
}


@media screen and (max-width: 1100px) {

  #popup1 {
    width: 100% !important;
  }
}


@media screen and (max-width: 650px) {
  .img-icon {
    height: 50px;
    width: 300px;
  }

  .box {
    margin-top: 0;
  }

  .div-info {
    margin-top: 0;
  }
  .formular {
    margin-bottom: 4rem;
  }

  // POPUP

  #popup1 {
    flex-direction: column;
    padding: 1rem 0;
    .left-section{
      margin-bottom: 2rem;
      width: 100%;
    }
    .right-section {
      width: 100%;
      .btnView3 {
        width: 98%;
      }
    }
  }
  .div-cam {
    padding: .5rem;
  }

}
@media screen and (max-width: 500px) {
  .form {
    width: 90%;
    text-align: center;
  }
  .formular {
    margin-bottom: 4rem;
  }
}
@media screen and (max-width: 360px) {
  .img-icon {
    display: none;
  }
}


