<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

<section>
  <!-- content here -->
  <div class="curve"></div>
</section>

<div class="fullPage">
  <div class="div-cam">
    <div id="popup1" class="overlay" [style.display]="toggle7 ? 'flex' : 'none'" *ngIf="productAr != null && productAr!= undefined">
      <div class="left-section">
        <div class="title-popup">
          <h1 *ngIf="this.product._id != ''">MON PRODUIT RECYCLABLE</h1>
          <h1 *ngIf="this.product._id == ''">CODE-BARRE VIDE, MERCI D'ENTRER UN CODE-BARRE AU FORMAT VALIDE</h1>

        </div>
        <div class="wrap">
          <div class="name-section" [style.display]="toggle6 ? 'flex' : 'none'">
            <div class="name-title">
              <p id="nameTitle" *ngIf="this.product._id != ''">NOM :   {{ productAr.marque }} </p>
            </div>
          </div>
        </div>
        <div class="wrap">
          <div class="category-section" [style.display]="toggle5 ? 'none' : 'flex'">
            <div class="category-container">
              <div class="category-title" [style.display]="toggle5 ? 'none' : 'flex'">
                <p id="categoryTitle" *ngIf="this.product._id != '' || this.product.lenght > 0">CATEGORIE : {{ productAr.packaging }} </p>
              </div>
            </div>
          </div>
        </div>

        <form [formGroup]="codebarForm" (ngSubmit)="onSubmit2()">
          <div class="column-6 form-select" [style.display]="toggle5 ? 'flex' : 'none'">
            <select (change)="changeCategory($event)" formControlName="categoryName">
              <option value="">Choisir Un Conditionnement</option>
              <option *ngFor="let condit of Condit" [ngValue]="condit">
                {{ condit }}
              </option>
            </select>
          </div>
        </form>


        <div class="img-section" *ngIf="productAr != null && productAr != undefined">
          <img src="{{ productAr.image }}">
        </div>
      </div>

      <div class="line"></div>
      <div class="right-section">
        <button class="btnView3 bg-green" *ngIf="productAr.marque != null && productAr != undefined" id="verre" (click)="displayBin()"><p>Afficher les bennes à <p [style.display]="togglePla ? 'block' : 'none'">Plastique</p><p [style.display]="toggleVerre ? 'block' : 'none'">Verre</p><p [style.display]="togglePapier ? 'block' : 'none'">Papier</p><p [style.display]="toggleOm ? 'block' : 'none'">Ordures ménagères</p> <p>pour mon {{ productAr.marque }}</p>
          <img [style.display]="togglePla ? 'block' : 'none'" src="http://localhost:4200/assets/img/icons8-plastic-bottle-96.png" alt=""><img [style.display]="toggleVerre ? 'block' : 'none'" src="http://localhost:4200/assets/img/icons8-broken-bottle-96.png" alt=""><img [style.display]="togglePapier ? 'block' : 'none'" src="http://localhost:4200/assets/img/icons8-paper-waste-96.png" alt=""><img [style.display]="toggleOm ? 'block' : 'none'" src="http://localhost:4200/assets/img/waste.png" alt=""></button>
        <button class="btnView3 bg-blue" (click)="again()" id="plastic"><p>Scanner un autre produit </p><img src="assets/img/qr-code.png" alt=""></button>
      </div>
    </div>
    <div class="overlay" id="popup2" [style.display]="toggle3 ? 'flex' : 'none'">
      <div class="progress-spinner" role="progressbar">
        <svg focusable="false" preserveAspectRatio="xMidYMid meet" viewBox="0 0 100 100">
          <circle cx="50%" cy="50%" r="45"></circle>
        </svg>
      </div>
    </div>
    <div class="wrap">
      <div class="camera">
        <div class="progress-spinner" role="progressbar" [style.display]="toggle4 ? 'flex' : 'none'">
          <svg focusable="false" preserveAspectRatio="xMidYMid meet" viewBox="0 0 100 100">
            <circle cx="50%" cy="50%" r="45"></circle>
          </svg>
        </div>
        <div class="title" [style.display]="toggle4 ? 'flex' : 'none'">
          <h1>C'est parti ! </h1>
          <!--          <img src="assets/img/icons8-lecteur-de-codes-barres-64.png">-->
        </div>
        <barcode-scanner-livestream [type]="['ean']" (valueChanges)="onValueChanges($event)"></barcode-scanner-livestream>
      </div>

    </div>
  </div>

  <section>
    <div class="wrap search-manual">
      <form [formGroup]="productForm" (ngSubmit)="onSubmit2()">
        <div class="formular">
          <p id="form-manual" [style.display]="toggle9 ? 'block' : 'none'">Entrez votre codebar manuellement</p>
          <p id="form-manual" [style.display]="toggle9 ? 'none' : 'block'" style="color: red;">Barcode invalide, réessayez</p>
          <button class="btnView3 bg-blue" (click)="again()" id="plastic" [style.display]="toggle9 ? 'none' : 'flex'" style="   width: 400px; height: 100px; margin-top: 10px;"><p>Scanner un autre produit </p><img style="width: 50px;" src="assets/img/qr-code.png" alt=""></button>


          <div class="inputContainer">
            <input class="form" type="text" formControlName="productName" placeholder="exemple : 3168930159896">
          </div>
          <button type="submit" id="btnSearch" class="btnView bg-yellow text-black" id="manual-search"><p>Rechercher</p>
          </button>
        </div>
      </form>
    </div>
  </section>


  <div class="div-info" *ngIf="productAr == null && productAr == undefined">
    <div class="box">
      <div class="left-content"><img class="img-content" src="assets/img/scan-de-codebar.jpg"></div>
      <div class="right-content">
        <button class="btnView bg-green" data-aos="fade-left" data-aos-duration="1000">
          <img class="img-icon" src="assets/img/qr-code.png" data-aos="fade-up" data-aos-duration="3000">
          Scannez le code barre de votre produit pour savoir le type de bennes à utiliser pour le trier.
        </button>
      </div>
    </div>

    <div class="box">
      <div class="right-content">
        <button class="btnView bg-green" data-aos="fade-right" data-aos-duration="1000">
          <img class="img-icon" src="assets/img/map-icon.png" data-aos="fade-up" data-aos-duration="3000">
          Grace à notre carte interactive, rerouvez les différentes bennes à tri les plus proches de chez vous.
          En quelques clics, vous pourrez savoir où vous rendre pour trier vos déchets.
        </button>
      </div>
      <div class="left-content"><img class="img-content" src="assets/img/position-gps.jpeg">
      </div>
    </div>

    <div class="box">
      <div class="left-content">
        <img class="img-content" src="assets/img/Tri-sélectif.jpeg">
      </div>

      <div class="right-content">
        <button class="btnView bg-green" data-aos="fade-left" data-aos-duration="1000">
          <img class="img-icon" src="assets/img/recycle-icon.png" data-aos="fade-up" data-aos-duration="3000">
          Devenez un expert du tri sélectif grâce à notre application.
        </button>
      </div>
    </div>
  </div>
</div>




