<div class="bglogin" style='background: url("assets/img/img-slider-1.png")'>
  <div class="whitebg">

    <h1 class="title-login">Accéder à mon espace</h1>

    {{errorForm}}

    <form [formGroup]="registerForm" (ngSubmit)="submitForm()" action="" class="loginForm" id="loginForm">

      <input type="text" formControlName="name" name="name" placeholder="nom" class="inputLogin inputForm">

      <input type="text" formControlName="lastname" name="lastname" placeholder="prenom" class="inputLogin inputForm">

      <input type="text" formControlName="mail" name="mail" placeholder="Email" class="inputLogin inputForm">

      <input type="password" formControlName="password" name="password" placeholder="Mot de passe"
             class="inputLogin inputForm">

      <button class="register">Envoyer</button>
    </form>


  </div>
</div>
